body{
    background: rgb(255, 255, 255);
}
h1{
    text-align: center;
    font-size: 40px;
    color: rgb(3, 3, 3);
}
p{
    text-align: center;
    font-size: 30px;
    color: brown;
}
img{
    width: 320px;
    margin-left: 250px;
}
h2{
    text-align: center;
    font-size: 30px;
    color: rgb(165, 131, 123);
}
ul{
    text-align: center;
    font-size: 30px;
    color: black;
}
li{
    text-align: center;
    font-size: 30px;
    color: brown;
}
.cabecalho{
    background-color: rgb(139, 91, 86);
}
.logobarbearia{
    width: 150px !important;
    height: 150px !important;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 10PX;
}
.lista_cabecalho{
    display: flex;
    margin-left: 250px;
}
.item_lista_cabecalho{
    color: #a02822;
    list-style: none;
    text-transform: uppercase;
    font-size: 10px;
    padding: 5px;
}
.cabecalho{
    background-color: rgb(139, 91, 86);
    display: flex;
}
.lista_cabecalho{
    display: flex;
    margin-left: 650px;
    margin-top: 80px;
}
.item_lista_cabecalho{
    color: #a02822;
    list-style: none;
    text-transform: uppercase;
    font-size: 25px;
    padding-left: 25px;
}
